<%- include("header") -%>

<div class="col-md-6 mx-auto other-details">
    <div class="text">
        <h1>
            About Me
        </h1>
        <p1>
            My self Shekhar Singh pursuing B.Tech in Information technology at GTBIT(GGSIPU). I am very
            passionate in creating beautiful web application.
        </p1>

    </div>

    <div class="text ">
        <h1>
            Why this web application
        </h1>
        <p1>
            I made it to complete the task given in my internship by "The Sparks Foundation (TSF)".
        </p1>
    </div>
    <div class="text ">
        <h1>Note</h1>
        <p1>This web application does not contain any real data.The users I have taken has nothing to do with any person.</p>
    </div>

    <div class="text">
        
        <h1 >Get in touch with me on</h1>
        <div >
            <a href="https://www.linkedin.com/in/shekhar-singh-083a21191"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.facebook.com/shekharsr1"><i class="fab fa-facebook-square"></i></a>
            <a href="https://github.com/shekharsinghssr"><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</div>

<%- include("footer") -%>